.Component-container {
    background-image: linear-gradient(#fff, #CBDEFE);
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 50px 10px 10px 10px;
    overflow: auto;
    height:93vh;
}

.Pokemon-card {
    color: #000;
    display: flex;
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 12vw;
    min-height: 20vh;
    margin: 20px;
}

.List {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
  }
  
  .App-container {
    background-color: #282c34;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 10px 10px 10px;
  }
  
  .App-link {
    color: #09d3ac;
  }

  .Contenedor-list {
    margin-left: 50px;
    margin-top: 50px;
  }
  