.Detail-container {
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Pokemon-detail {
    border: 1px solid white;
    padding: 50px;
    display: flex;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Pokemon-detail-pikachu {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen-pikachu {
    width: 20vw;
    height: 40vh;
}

.Detail-img {
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Detail-body {
    font-size: calc(10px + 2vmin);
    color: black;
    padding: 10px 10px 10px 10px;
    width: 100%;
}